/*css reset*/

* {
    margin: 0px;
    

}

/* generics */
body {
    max-width: 1080px;
    margin: 0 auto;
} 

    /*header*/
      
#thebooleaner {
    background-color: #4EA0FF;
    height: 100px;
    background-image: url(/img/pattern.png);
    background-size: 37%;
    background-position-x: 40%;
    
}

#logo {
    height: 50px;
    margin-top: 42px;
    margin-left: 6px;

}

/*article header*/

h1 {
    font-size: 39px;
    margin-bottom: 0;
    margin-top: 25px;
    font-size: 40px;
}

address {
    font-style: normal;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #7dcaee;
}


.text-gray {
    color: #808080;
}

.text-small {
    font-size: 13px;
}

figure {
    margin: 20px 0px;
}

.p-margin {
    margin-bottom: 20px;
}

ul {
    padding-inline-start: 17px;
}